body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin: 0;
    min-height: 100vh;
}

body > div,
.content > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    flex: 1 0 auto;
}

.column {
    flex: 0 0 1000px;
    display: flex;
}

.header {
    background-color: #9ebc9f;
}

.header .column {
    padding: 16px 0px;
    justify-content: space-between;
    gap: 48px;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
}

.header-links {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 32px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.hero-container {
    background-color: #9ebc9f;
}

.hero-container .column {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-main {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.hero-secondary {
    color: #e5e7eb;
    font-size: 18px;
    margin: 8px 0px 8px;
}

.hero-left {
    max-width: 460px;
}

.hero-button {
    background-color: #f9b970;
    color: #f9faf8;
    font-size: 18px;
    font-weight: 900;
    padding: 8px 16px;
    border-radius: 8px;
    margin-bottom: 0px;
    border: none;
}

.information-container {
    text-align: center;
}

.information-container .column,
.quote-container .column {
    display: block;
}

.card-shelf {
    display: flex;
    gap: 32px;
    justify-content: center;
}

.information-container img {
    border-radius: 8px;
    width: 200px;
}

.card {
    max-width: 200px;
    font-size: 18px;
    color: #1f2937;
}


h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.quote-container {
    background-color: #e5e7eb;
    color: #1f2937;
}

.quote {
    font-size: 36px;
    font-weight: 300;
}

.attribution {
    font-weight: 900;
    text-align: right;
}

.cta-box {
    flex: auto;
    background-color: #f9b970;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.cta-box-left {
    max-width: 600px;
}

.cta-box-right {
    display: flex;
    align-items: flex-end;
}

.cta-header {
    font-size: 18px;
    font-weight: 900;
    color:#f9faf8;
}

.cta-secondary {
    font-size: 16px;
    color: #e5e7eb;
}

.cta-button {
    color:#f9faf8;
    background-color: transparent;
    font-size: 18px;
    font-weight: 900;
    padding: 8px 16px;
    border-radius: 8px;
    border: 5px solid #f9faf8;
}

.footer {
    background-color: #9ebc9f;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 0px;
}